*{
    padding: none;
    margin: 0;
}

body{
    background-color: slategrey;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 2rem;
    font-family: cursive;
}

#icono{
    width: 100px;
    height: 100px;
    float: left;
}

#icono:hover{
border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px red;
-webkit-box-shadow: 0px 0px 15px 15px red;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}

#img2{
    width: 250px;
    height: 200px;
    padding: 15px;
}

section{
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    margin: auto;
    margin-top: 20px;
    height: auto;
    width: 90%;
    text-align: center;
}

nav{
    background-color: black;
    box-sizing: border-box;
    border-style: solid;
    margin: auto;
    margin-top: 20px;
    height: 105px;
    width: 90%;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    background-color: red;
}

nav li{
    display: inline-block;
    padding: 40px;
    font-size: 1.5rem;
}

section div{
    background-color: white;
    width: 25%;
    margin: 30px;
    padding: 10px;
    display: inline-block;
}

section div p{
    text-align: justify;
}

section p{
    padding: 10px;
    text-align: justify;
}

#conten2{
    width: auto;
}

table{
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:lightgrey;
    border: 1px solid #000;
    border-collapse: collapse;
}

td, th{
    padding: 5px 8px;
    width: 15%;
    border: 1px solid #000;
}

ul li{
    text-align: justify;
    list-style-type: square;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    margin-top: 20px;
}

#hola{
    margin-top: -10px;
}

footer{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    height: auto;
    box-sizing: border-box;
    background-color: white;
    border-style: solid;
    text-align: center;
}

footer img{
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    transition: transform .5s;
}

footer h3{
    margin: auto;
    margin-top: 10px;
}

footer img:hover{
    transform: scale(1.5);
}